@model User

<h1 class="alert alert-danger text-center">
    Delete Users
</h1>

<div class="row">
    <form class="col-4" method="post" asp-controller="User" asp-action="DeleteCurrent">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>



        <div>
            @*<label>@Html.DisplayNameFor(e=>e.FullName)</label>*@
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" readonly/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div>
            @*<label>@Html.DisplayNameFor(e=>e.Position)</label>*@
            <label asp-for="Email"></label>
            <input type="text" asp-for="Email" class="form-control" readonly />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div>
            @*<label>@Html.DisplayNameFor(e=>e.Salary)</label>*@
            <label asp-for="Address"></label>
            <input type="text" asp-for="Address" step="0.01" class="form-control" readonly />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div>
            @*<label>@Html.DisplayNameFor(e=>e.Salary)</label>*@
            <label asp-for="Area"></label>
            <input type="text" asp-for="Area" step="0.01" class="form-control" readonly />
            <span asp-validation-for="Area" class="text-danger"></span>
        </div>

        <div>
            @*<label>@Html.DisplayNameFor(e=>e.BirthDate)</label>*@
            <label asp-for="MobileNumber"></label>
            <input asp-for="MobileNumber" step="0.01" class="form-control" readonly />
            <span asp-validation-for="MobileNumber" class="text-danger"></span>
        </div>

        <div>




            <input type="hidden" asp-for="UserId" />

            <div>
                <button type="submit" class="btn btn-danger mt-1">Delete</button>
                <a asp-controller="User" asp-action="GetIndexView">Back to List</a>
            </div>
    </form>




</div>


