@model IEnumerable<User>

<h1 class="alert alert-info text-center">
    User Managment
</h1>

<a asp-controller="User" asp-action="GetCreateView" class="btn btn-success mb-1">
    Create New
</a>


@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(e=>e.UserId)</th>
                <th>@Html.DisplayNameFor(e=>e.Name)</th>
                <th>@Html.DisplayNameFor(e=>e.Address)</th>
                <th>@Html.DisplayNameFor(e => e.Area)</th>

                <th>@Html.DisplayNameFor(e=>e.MobileNumber)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.UserId</td>
                    <td>@item.Name</td>
                   
                    <td>@item.Address</td>
                    <td>@item.Area</td>
                    <td>@item.MobileNumber</td>
                    <td>
                        <a asp-controller="User" asp-action="GetDetailsView"
                           asp-route-id="@item.UserId" class="btn btn-outline-success" title="Details"><i class="bi bi-list-ul"></i>Details</a>

                        <a asp-controller="User" asp-action="GetEditView"
                           asp-route-id="@item.UserId" class="btn btn-outline-primary" title="Edit"><i class="bi bi-pencil-square"></i> Edit</a>

                        <a asp-controller="User" asp-action="GetDeleteView"
                           asp-route-id="@item.UserId" class="btn btn-outline-danger" title="Delete"><i class="bi bi-trash"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
      
    </table>
}
else
{
    <h1 class="alert alert-danger text-center">There is no data.</h1>
}

<br />
<hr />